@media screen and (min-width: 640px) and (max-width: 768px) {
  .main_allies {
    width: 100%;
    height: 810px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 141, 2);

    .tittle {
      width: 100%;
      height: 45%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 5%;

      > h1 {
        font-family: 'Objectivity';
        font-size: 50px;
      }
    }
    .buttons {
      width: 100%;
      height: 45%;
      display: grid;
      grid-template-columns: 35%;
      grid-template-rows: 20%;
      justify-content: center;
      align-items: start;
      overflow: scroll;

      border: 1px solid rgb(255, 0, 0);

      .daughter_button {
        border: 1px solid black;
        width: 90%;
        height: 60px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main_allies {
    width: 100%;
    height: 810px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 141, 2);

    .tittle {
      width: 100%;
      height: 45%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 5%;

      > h1 {
        font-family: 'Objectivity';
        font-size: 50px;
      }
    }
    .buttons {
      width: 100%;
      height: 20%;
      display: grid;
      grid-template-columns: 35% 35%;
      grid-template-rows: 80px 80px;
      justify-content: center;
      align-items: start;
      overflow: scroll;

      border: 1px solid rgb(255, 0, 0);

      .daughter_button {
        border: 1px solid black;
        width: 90%;
        height: 60px;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .main_allies {
    width: 100%;
    height: 810px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 141, 2);

    .tittle {
      width: 100%;
      height: 45%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 5%;

      > h1 {
        font-family: 'Objectivity';
        font-size: 50px;
      }
    }
    .buttons {
      width: 100%;
      height: 55%;
      display: grid;
      grid-template-columns: 20% 20% 20%;
      grid-template-rows: 80px 80px 80px;
      justify-content: center;
      align-items: start;
      border: 1px solid rgb(255, 0, 0);
      .daughter_button {
        border: 1px solid black;
        width: 90%;
        height: 60px;
      }
    }
  }
}
