.main_layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;

  .father {
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: row;
    border: 1px solid black;

    .father_logo {
      width: 50%;
      height: 100%;
      border: 1px solid black;
    }

    .father_buttons {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5em;
    }
  }
}
