.main_layout {
  width: 1280px;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;

  margin-bottom: 5%;

  .father {
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: row;

    .father_logo {
      width: 50%;
      height: 100%;

      padding: 0 0.5em;

      > img {
        height: 100px;

        align-items: center;
      }
    }

    .father_buttons {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5em;
    }
  }
}

@media screen and (max-width: 1280px) {
  .main_layout {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .main_layout {
    width: 100%;

    .father {
      .father_buttons {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main_layout {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .main_layout {
    width: 100%;
  }
}
