.main_news {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: bottom;
  background-color: white;

  .tittle_news {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 5%;
    padding-bottom: 5%;
    line-height: 3.5em;

    > h3 {
      width: 100%;
      font-size: 55px;
      justify-content: center;
      align-items: center;
      padding-left: 0%;
    }
  }

  .container_news {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container_cards {
      width: 80%;
      height: 55%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
      border-radius: 4%;
      padding-top: 1%;

      > h4 {
        width: 100%;
        font-size: 50px;

        justify-content: center;
        align-items: center;
        padding-left: 30%;
        padding-bottom: 3%;
      }

      .input {
        width: 100%;
        height: 50%;
        font-size: 20px;
        padding-left: 25%;
        justify-content: center;
        align-items: center;

        > input {
          width: 60%;
          height: 45%;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          padding-left: 8%;
          margin-right: 1%;
          background-color: #edf4fd;
          border-radius: 15px;
          border: 0.5px solid #edf4fd;
        }
        > Button {
          width: 10%;
          height: 35%;
          font-size: 21px;
          padding-left: 3%;
          margin: 1%;
          justify-content: center;
          align-items: center;
          background-color: #edf4fd;
          border-radius: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .main_news {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .main_news {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: bottom;
    background-color: white;

    .tittle_news {
      width: 80%;
      height: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-left: 20%;
      padding-bottom: 5%;
      line-height: 3.5em;

      > h3 {
        width: 100%;
        font-size: 55px;
        justify-content: center;
        align-items: center;
        padding-left: 0%;
      }
    }

    .container_news {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 10%;
      padding-right: 10%;

      .container_cards {
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
        border-radius: 4%;
        padding-top: 1%;

        > h4 {
          width: 100%;
          font-size: 50px;

          justify-content: center;
          align-items: center;
          padding-left: 30%;
          padding-bottom: 3%;
        }

        .input {
          width: 100%;
          height: 50%;
          font-size: 20px;
          padding-left: 25%;
          justify-content: center;
          align-items: center;

          > input {
            width: 60%;
            height: 45%;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            padding-left: 8%;
            margin-right: 1%;
            background-color: #edf4fd;
            border-radius: 15px;
            border: 0.5px solid #edf4fd;
          }
          > Button {
            width: 10%;
            height: 35%;
            font-size: 21px;
            padding-left: 3%;
            margin: 1%;
            justify-content: center;
            align-items: center;
            background-color: #edf4fd;
            border-radius: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main_news {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: bottom;
    background-color: white;

    .tittle_news {
      width: 80%;
      height: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-left: 20%;
      padding-bottom: 5%;
      line-height: 3.5em;

      > h3 {
        width: 100%;
        font-size: 50px;
        justify-content: center;
        align-items: center;
        padding-left: 0%;
      }
    }

    .container_news {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 10%;
      padding-right: 10%;

      .container_cards {
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
        border-radius: 4%;
        padding-top: 1%;

        > h4 {
          width: 100%;
          font-size: 50px;
          justify-content: center;
          align-items: center;
          padding-left: 25%;
          padding-bottom: 3%;
        }

        .input {
          width: 100%;
          height: 50%;
          font-size: 20px;
          padding-left: 15%;
          justify-content: center;
          align-items: center;

          > input {
            width: 80%;
            height: 35%;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            padding-left: 8%;
            margin-right: 1%;
            background-color: #edf4fd;
            border-radius: 15px;
            border: 0.5px solid #edf4fd;
          }
          > Button {
            width: 10%;
            height: 30%;
            font-size: 21px;
            padding-left: 3%;
            margin: 1%;
            justify-content: center;
            align-items: center;
            background-color: #edf4fd;
            border-radius: 15px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 640px) {
  .main_news {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: bottom;
    background-color: white;

    .tittle_news {
      width: 80%;
      height: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-left: 20%;
      padding-bottom: 5%;
      line-height: 3.5em;

      > h3 {
        width: 100%;
        font-size: 50px;
        justify-content: center;
        align-items: center;
        padding-left: 2%;
      }
    }

    .container_news {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 10%;
      padding-right: 10%;

      .container_cards {
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
        border-radius: 4%;
        padding-top: 1%;

        > h4 {
          width: 100%;
          font-size: 50px;
          justify-content: center;
          align-items: center;
          padding-left: 20%;
          padding-bottom: 3%;
        }

        .input {
          width: 100%;
          height: 50%;
          font-size: 20px;
          padding-left: 15%;
          justify-content: center;
          align-items: center;

          > input {
            width: 80%;
            height: 35%;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            padding-left: 8%;
            margin-right: 1%;
            background-color: #edf4fd;
            border-radius: 15px;
            border: 0.5px solid #edf4fd;
          }
          > Button {
            width: 10%;
            height: 30%;
            font-size: 21px;
            padding-left: 3%;
            margin: 1%;
            justify-content: center;
            align-items: center;
            background-color: #edf4fd;
            border-radius: 15px;
          }
        }
      }
    }
  }
}
