.main_slogan {
  width: 100%;
  height: 810px;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #f8f8f8;

  > h1 {
    height: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 60px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .main_slogan {
    height: 810px;
    display: flex;

    > h1 {
      height: 100px;
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 65pt;
    }
  }
}
